@model IEnumerable<DataLayer.ComputerType>

@{
    ViewBag.Title = "لیست انواع تجهیزات";
}

<h2>لیست انواع تجهیزات</h2>

<div class="form-group">
    <p>
        <a class="btn btn-success" href="/Admin/ComputerTypes/Create">نوع جدید</a>
    </p>
</div>
<div class="table table-responsive">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                زیرواحد
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubUnit.Title)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("نمایش", "Details", new { id = item.ID }) |*@
                    @Html.ActionLink("حذف", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>