@model IEnumerable<DataLayer.Unit>

@{
    ViewBag.Title = "واحد ها";
}

<h2>لیست واحد ها</h2>

<div class="form-group">
    <a class="btn btn-success" href="/Admin/Units/Create">واحد جدید</a>
</div>


<div class="table table-responsive">


    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tel)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                    @*@Html.ActionLink("نمایش", "Details", new { id = item.ID }) |*@
                    @Html.ActionLink("حذف", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>