@model DataLayer.Hardware

@{
    ViewBag.Title = "ویرایش";
}

<h2>ویرایش</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardwareType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HardwareType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ID }) 
   
</p>
