@model DataLayer.Software

@{
    ViewBag.Title = "حذف نرم افزار";
}

<h2>حذف نرم افزار</h2>

<h3>آیا از حذف نرم افزار مطمئن هستید؟</h3>
@if (ViewBag.Error == true)
{
    <div class="alert alert-danger">
        حذف امکان پذیر نمی باشد
    </div>
}
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />

        </div>
    }
</div>
