@model DataLayer.ComputerHardware

@{
    ViewBag.Title = "نمایش";
}

<h2>نمایش جزییات</h2>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComputerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.Computer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HardwareID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardware.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.ComputerHardwareID }) 
   
</p>
