@model DataLayer.service

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dateOfService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOfService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICTUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICTUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action1.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action1.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer.Computer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.Computer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disablement.ComputerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disablement.ComputerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodicVisits.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodicVisits.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Software.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOFService.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOFService.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
