@model IEnumerable<DataLayer.service>
    @using Utilities;

@{
    ViewBag.Title = "لیست خدمات";
    int i = 1;
}

    <h2>لیست خدمات</h2>
<div class="form-group">
    <p>
        <a class="btn btn-success" href="/Admin/Services/Create/@ViewBag.id">سرویس جدید</a>
    </p>
</div>


<div class="table table-responsive">


    <table class="table table-hover">
        <tr>
            <th>
                ردیف
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ICTUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action1.Title)
            </th>
            <th>
                شماره کامپیوتر
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Software.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOFService.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                   @DateConvertor.ToShamsiDateTime(item.dateOfService).Substring(0,10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Action1.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Computer_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Software.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOFService.Title)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.ID })
                </td>
            </tr>
            i++;
        }

    </table>
</div>